{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-login100">
    <div class="wrap-login100" style="width: 900px;">
        <div class="login100-form-title" style="background-image: url({% static 'images/header.jpg' %});">
            <span class="login100-form-title-1">
                Your Address Book
            </span>
            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    <a href="{% url 'logout' %}" class="text-light">Logout</a>
                </div>
            </div>
        </div>

        <div class="container">
            
        
            <div class="row mt-3">
                <div class="col-md-12 text-right">
                    <a href="{% url 'add_contact' %}" class="btn btn-primary">Add Contact <i class="fa fa-plus"></i></a>
                    <a href="{% url 'import_contact' %}" class="btn btn-info">Import CSV <i class="fa fa-upload"></i></a>
                    <a href="{% url 'export_contact' %}" class="btn btn-warning">Export CSV <i class="fa fa-download"></i></a>
                </div>
            </div>
        
            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                            <th class="text-center">Contact Number</th>
                            <th class="text-center">Address</th>
                            <th class="text-center">Action</th>

                            {% for ct in contact_list %}
                            <tr>
                                <td>{{ ct.first_name }}</td>
                                <td>{{ ct.last_name }}</td>
                                <td>{{ ct.contact_number }}</td>
                                <td>{{ ct.address }}</td>
                                <td>
                                    <a href="{% url 'edit_contact' contact_id=ct.id %}" class="btn btn-round btn-success"><i class="fa fa-edit"></i></a>
                                    <a href="{% url 'delete_contact' contact_id=ct.id %}" class="btn btn-round btn-danger"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

            <div class="row mt-3 mb-5">
                <div class="col-md-12 text-center">
                    <ul class="pagination">
                        <li class="page-item">
                            {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&lt;</a>
                            {% endif %}
                        </li>
                        <li class="active" class="page-item">
                            <a class="page-link">{{ page_obj.number }}</a>
                        </li>
                        <li class="page-item">
                            {% if contact_list.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="page-link">&gt;</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
{% endblock %}